python-telegram-bot>=21.0,<23.0
pandas>=2.2.0
requests==2.31.0
feedparser>=6.0.11
pytz==2024.2
apscheduler==3.10.4
tzlocal==5.2
Flask==3.0.3
gunicorn==21.2.0
pyTelegramBotAPI==4.14.0
twelvedata==1.2.25  # Changed from twelve-data==1.0.0